body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

h1 {
font-family: 'Playfair Display', serif;
}

.Habilidades {
  font-family: 'Lato', sans-serif;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.selfie {
  max-width: 60%;
}

.picture {
  max-width: 100%;
}

nav {
    background-color: #fffcf5;
    position:fixed;
    z-index: 1;
    width: 100%

}


nav li a {

  text-decoration: none;
  color: black;
}

nav li a:hover{

  text-decoration: underline;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
    text-transform: capitalize;
    font-size: 14px;
}

section ul li {
  display: inline-block;
  margin: 0 15px;
}

body, ul {
  margin: 0;
  padding: 0;

}

nav ul {
  margin: 0 auto;
  text-align: center;
  padding: 30px;

}

header {
    top: 78px;
    position: relative;
    margin-bottom: 78px;
    background-color: #fffcf5;
    height: 700px;

}

h1 {
  font-size: 60px;
  line-height: 100%;
  margin-top: 80px;

}

.platanus {
  font-size: 30px;
}

.Habilidades {
    list-style: none;
    margin: 10px 0;
    margin-top: 50px;
    line-height: 150%;
}

.boton {
border: 2px solid black;
text-decoration: none;
color: black;
padding: 10px 30px;
margin: 15px 0 ;
display: inline-block;
border-radius: 20px;

}

.boton:hover{
  background-color: black;
  color: white;
}

.selfie {
  box-shadow: 1px 2px 20px rgba(0,0,0,0.5);
  margin-top: 60px;
}


.quehago {
  text-align: center;
  font-family: 'Lato',sans-serif;
  font-weight: 200;
  font-size: 25px;
  color: #fffcf5;
  background-color: #257582;
  height: 200px;
  line-height: 100px;
  list-style: none;
  padding: 90px 0px 0px 0px;
}

.experienciaen {
  background-color: #257582;
  text-align: center;
  font-family: 'Lato',sans-serif;
  color: #fffcf5;
  height: 50px;
  line-height: 100px;
  font-weight: bold;
  margin: 0;
  font-size: 30px;
  padding: 40px 0px 0px 0px;

}

.confesion {

  font-size: 15px;
  color: #fffcf5;
  font-family: 'Lato',sans-serif;
  font-weight: 200;
  background-color: #257582;
  padding: 0px 0px 75px 0px;
  margin: 0;
  text-align: center;
}

.primerproyecto {
  background-color: #fffcf5;
  height: 450px;
  padding: 60px;



}

.segundoproyecto {
  background-color: #fffcf5;
  height: 350px;
  padding: 60px;
}

.texto2 {
  text-align: right;
}


.tercerproyecto {
  background-color: #fffcf5;
  height: 400px;
  padding: 60px;

}

.fotoentel{
  max-width: 100%;
}

footer {
  background-color: #257582;
  height: 700px;
}


footer h2 {
  text-align: center;
  padding: 280px 50px 0 50px;
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  font-size: 25px;
  color: #fffcf5;
  line-height: 50px;
  margin: 0;

}

footer p {
  text-align: center;
  padding: 0 0 80px 0;
  color: #fffcf5;
  margin: 0;
  line-height: 70px;
}

.algunosproyectos {
  text-align: center;
  top: 0px;
  bottom: 15px;
  position: relative;
  font-weight: bold;
  font-size: 40px;
  margin-top: 0px;
  height: 60px;

}
